<div class="form-group <%= error_class person, :name %>">
  <%= f.label :name do %>
    <%= label_or_full_error person, :name, 'Your name' %>
  <% end %>
  <%= f.text_field :name, class: 'form-control', autofocus: 'true', autocomplete: 'off', autocorrect: 'off' %>
</div>

<div class="form-group <%= error_class person, :email %>">
  <%= f.label :email do %>
    <%= label_or_full_error person, :email, 'Email' %>
  <% end %>
  <%= f.email_field :email, class: 'form-control', autocomplete: 'off', autocorrect: 'off' %>
</div>

<div class="form-group <%= error_class person, :password %>">
  <%= f.label :password do %>
    <%= label_or_full_error person, :password, 'Choose password' %>
  <% end %>
  <%= f.password_field :password, class: 'form-control' %>
</div>

<div class="form-group <%= error_class person, :password_confirmation %> widget">
  <%= f.label :password_confirmation do %>
    <%= label_or_full_error person, :password_confirmation, 'Please type it in again' %>
  <% end %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>

<hr>

<%= f.submit 'Create Account', class: 'btn btn-success btn-block' %>

