<div class="banner well widget">
  <h1>
    Kazoo - Friends & Family
  </h1>
  <h4>
    The simple way for friends & family to fund your loan
  </h4>
</div>


<p class="widget">
  With <strong>Kazoo - Friends & Family</strong>, you can invite friends & family to help you achieve your goals
  by funding loans for the things you need.
</p>

<p class="widget">
  Create a loan arrangement that is as strict or as loosely structured as you
  like. Signing up is free. You can invite as many of your friends & family as you like.
</p>

<p class="widget">
  With <strong>Kazoo - Friends & Family</strong>, there are zero ongoing fees. You pay a one-time service fee of 1.00%,
  if and when your
  loan is fully funded.
</p>

<p class="widget">
  <%= link_to 'Sign up for your free account', new_borrowers_path, class: 'btn btn-success btn-block' %>
</p>

<div class="well">
  <h4 class="widget">
    Get your money in a few easy steps...
  </h4>
  <ol>
    <li>Sign up for free.</li>
    <li>Create a loan using our loan builder.</li>
    <li>Using your unique invitation link, invite your friends and family to fund your loan.</li>
    <li>You'll then have 14 days to have your loan fully funded, otherwise no-one pays.</li>
  </ol>
</div>

<p class="widget">
  <strong>Kazoo - Friends & Family</strong> uses an all-or-nothing funding model. This protects you from being stuck
  with a fraction of the funds you need and an expectation that you will still be able to fully achieve your stated
  goals.
</p>

<p class="widget">
  <%= link_to 'Sign up for your free account', new_borrowers_path, class: 'btn btn-success btn-block' %>
</p>

<p class="widget">
  Our support team can help you arrange a payment schedule using convenient payment services
  like <%= link_to 'PayPal', 'https://www.paypal.com' %>, <%= link_to 'Square Cash', 'https://cash.me' %>,
  and <%= link_to 'Venmo', 'https://www.venmo.com' %>. And just in case life throws you a curve ball and you're unable
  to make a payment, we're here to help with
  expert advice about how to get back on track.
</p>
