<%= form_for @invitation_code, url: {controller: 'invitations', action: :create} do |f| %>

  <%= render partial: 'layouts/base_errors', locals: {object: @invitation_code} %>

  <div class="form-group row <%= error_class @invitation_code, :code %> widget">
    <div class="col-xs-12 col-sm-12">
      <%= f.label :code do %>
        <%= label_or_error @invitation_code, :code, 'Please enter your invitation code' %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12">
      <%= f.text_field :code, class: 'form-control', autocomplete: 'off', autocorrect: 'off', autofocus: true %>
    </div>
  </div>

  <hr>

  <%= f.submit 'Link This Loan Request', class: 'btn btn-primary btn-block' %>

<% end %>